<div class="painel col-12 d-flex flex-wrap">
    <!-- <div class="col-12">
      <app-menuhorizontal></app-menuhorizontal>
    </div> -->

     <div class="col-12 d-flex container-fluid flex-wrap">
        
        <div class="col-3">
          <h1 class="col-12 mt-2">{{titulo}}</h1>
          <app-categorias></app-categorias>
        </div>
         <div class="card-leitura col-6 bg-white mt-4 rounded-4">
          <div *ngIf="idNoticia;">
            <img class="col-12 bg-secondary border border-white rounded rounded-4 " src="{{noticiaEscolhida.imagem}}"/>
            <div class="col-12 p-2">
              <h4 class="m-0 mt-2 col-12">{{noticiaEscolhida.titulo}}</h4>
              <div class="col-3 d-flex flex-wrap justify-content-between">          
                <span style="font-size: 1em;">{{noticiaEscolhida.data | date:' dd/MM/yyyy hh:mm':'':'pt-BR'}}</span>
                <!-- <a href=""><mat-icon>share</mat-icon></a> -->
              </div>
              <hr>
              <p class="mt-4">{{noticiaEscolhida.texto}}</p>
              <div class="col-12">
                  <div class="col-3">
                      <a href=""><mat-icon>favorite</mat-icon></a>
                      <a href=""><mat-icon>share</mat-icon></a>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">      
          <app-listadenoticias *ngFor="let item of noticia;index as i" [titulo]="item.titulo" [data]="item.data" [imagem]="item.imagem " [categoria]="paramCategoria" [id]="i"></app-listadenoticias>
        </div>
    </div>
 
 </div>
 
