    <div class="col-11 bg-white mt-4 rounded-4 m-auto">
        <img class="col-12 bg-secondary border border-white rounded rounded-4 " src={{imagem}} style="height: 20vh;"/>
        <div class="col-12 p-2">
          <div class="col-12 d-flex flex-wrap justify-content-between">
            <h4 class="m-0 mt-2 col-12 fs-5">{{titulo}}</h4>
            <span style="font-size: 1em;">{{data | date:'MMM dd, yyyy \'às\' hh:mm a':'':'pt-BR'}}</span>
            <!-- <a href=""><mat-icon>share</mat-icon></a> -->
          </div>
    </div>