<div class="d-flex col-12">
    <ul class="menuhorizontal col-6 d-flex flex-wrap justify-content-between pt-3 pb-4 m-auto text-uppercase fw-bold">
        <li><a href="http://">Inicio</a></li>
        <li><a href="http://">Politica</a></li>
        <li><a href="http://">Policia</a></li>
        <li><a href="http://">Economia</a></li>
    </ul>
    <ul class="menuhorizontal col-1 d-flex flex-wrap justify-content-between pt-3 pb-4 m-auto text-uppercase fw-bold">
        <li><a href="http://"><mat-icon>login</mat-icon></a></li>
        <li><a href="http://"><mat-icon>person_add</mat-icon></a></li>
    </ul>
</div>
