<div class="painel col-12 d-flex flex-wrap">
   <div class="col-12">
     <app-menuhorizontal></app-menuhorizontal>
   </div>
    <div class="col-12 d-flex container-fluid">
      <div class="col-6 bg-secondary border border-white rounded rounded-3" style="height: 80vh;"></div>
      <div class="col-6 d-flex flex-wrap">
         <div class="col-12 bg-secondary border border-white rounded rounded-3" style="height: 40vh;"></div>
         <div class="col-6 bg-secondary border border-white rounded rounded-3" style="height: 40vh;"></div>
         <div class="col-6 bg-secondary border border-white rounded rounded-3" style="height: 40vh;"></div>
      </div>
    </div>

</div>
